@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --default-width: 700px;
  --default-border: 1px solid #000;
  --default-boxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --theme-color: #09223b;
  --dice-size: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}

.yatzyGrid {
  /* display: grid;
  grid-template-columns: repeat(2, auto); */
}

.yatzyGrid .yatzyHeader {
  margin: auto;
  background-color: white;
  padding-top: 10px;
  width: var(--default-width);
  /* border: var(--default-border); */
  box-shadow: var(--default-boxShadow);
}
.yatzyGrid .yatzyHeader h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
}

.yatzyGrid .yatzyHeader .diceArea {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .diceArea .dice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.yatzyGrid .yatzyHeader .diceArea .dice img {
  /* background-color: var(--theme-color); */
  background-repeat: no-repeat;
  background-position: cover;
  margin: 10px;
  height: var(--dice-size);
  width: var(--dice-size);
}

.diceShake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.yatzyGrid .yatzyHeader .diceArea .dice img {
  /* background-color: var(--theme-color); */
  background-repeat: no-repeat;
  background-position: cover;
  margin: 10px;
  height: var(--dice-size);
  width: var(--dice-size);
}

.yatzyGrid .yatzyHeader .diceArea .dice input {
  margin: 5px 10px 10px 10px;
  height: 30px;
  width: var(--dice-size);
  cursor: pointer;
  align-items: center;
  background-color: Var(--theme-color);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.yatzyGrid .yatzyHeader .diceArea .dice input:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .diceArea .dice input:focus {
  background-color: #09223b !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .diceArea .dice input:focus:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .diceArea .dice input:hover:after {
  opacity: 0.5;
}

.yatzyGrid .yatzyHeader .diceArea .dice input:active {
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .diceArea .dice input:disabled {
  cursor: not-allowed;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}
.yatzyGrid .yatzyHeader .diceArea .dice input:checked {
  cursor: pointer;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .headerBottom {
  display: grid;
  margin-bottom: 15px;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 250px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .headerBottom .roll {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button {
  align-items: center;
  background-color: var(--theme-color);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  height: 60px;
  width: 60px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  box-shadow: var(--default-boxShadow);
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:focus {
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:focus:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:hover:after {
  opacity: 0.5;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:active {
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .headerBottom .roll button:disabled {
  cursor: not-allowed;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .turnInfo {
  display: grid;
  margin-bottom: 15px;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 250px);
  padding-bottom: 15px;
  justify-content: center;
}

.yatzyGrid .yatzyHeader .turnInfo .currentTurn,
.yatzyGrid .yatzyHeader .turnInfo .totalTurn {
  display: inline-block;
  margin: auto;
  background-color: #092f3b;
  padding: 5px;
  width: 100px;
  border-radius: 40px;
  color: white;
  box-shadow: var(--default-boxShadow);
}

.yatzyGrid .yatzyHeader .turnInfo .currentTurn .count,
.yatzyGrid .yatzyHeader .turnInfo .totalTurn .count {
  color: white;
  display: table;
  margin: 0 auto;
}

.yatzyGrid .yatzyHeader .turnInfo .currentTurn::before,
.yatzyGrid .yatzyHeader .turnInfo .totalTurn::before {
  display: flex;
  justify-content: center;
  content: "Turn:";
}

.yatzyGrid .yatzyHeader .turnInfo .totalTurn::before {
  content: "Total:";
}

.yatzyGrid .yatzyBody {
  margin: auto;
  justify-content: center;
  box-shadow: var(--default-boxShadow);
  width: var(--default-width);
}

.yatzyGrid .yatzyBody .inner {
  background-color: white;
  margin: auto;
  display: grid;
  margin-block-start: 2em;
  grid-template-columns: 4 (auto);
  grid-column-gap: 20px;
  padding: 15px;
}
.gridParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}
.gridParent .gridItem {
  grid-column-start: span 6;
}
.gridParent .gridItem:nth-child(1n) {
  grid-column-start: 1 !important;
}
.gridParent .gridItem:nth-child(2n) {
  grid-column-start: 2 !important;
}
.gridParent .gridItem input {
  width: 50px;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--default-boxShadow);
  /* border: 1px solid transparent; */
}
.gridParent .gridItem input:focus {
  /* background-color: #09223b; */
}
.gridParent .gridItem :disabled {
  width: 50px;
  text-align: center;
  cursor: not-allowed;
}
.gridParent .gridItem:nth-child(13) {
  grid-column-start: 3 !important;
}
.gridParent .gridItem:nth-child(14),
.gridParent .gridItem:nth-child(33) {
  grid-column-start: 4 !important;
}
