.yatzyGrid {
  background: linear-gradient();
}

.yatzyGrid .yatzyHeader {
  margin: auto;
}

.yatzyGrid .yatzyHeader .diceArea {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .diceArea .dice {
  background-color: green;
  padding: 10px;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.yatzyGrid .yatzyHeader .headerBottom {
  display: grid;
  margin-block-start: 2em;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .headerBottom .turn {
  display: flex;
  justify-content: left;
  margin-left: 5px;
}

.yatzyGrid .yatzyHeader .headerBottom .roll {
  display: flex;
  justify-content: right;
  margin-right: 5px;
}

.yatzyGrid .yatzyHeader .headerBottom .roll button {
  height: 40px;
  width: 100px;
}

.yatzyGrid .yatzyBody {
  width: 700px;
  display: grid;
  margin-inline-start: 25em;
  margin-block-start: 2em;
  grid-template-columns: 4 (auto);
  grid-column-gap: 20px;
}
.firstColumn {
  grid-column-start: 1;
  grid-column-end: 1;
}
.secondColumn {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
}

.thirdColumn {
  grid-column-start: 3;
  grid-column-end: 3;
}

.fourthColumn {
  grid-column-start: 4;
  grid-column-end: 4;
  text-align: center;
}

.fifthColumn {
  grid-column-start: 5;
  grid-column-end: 5;
}

.sixthColumn {
  grid-column-start: 6;
  grid-column-end: 6;
  text-align: center;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 1;
}
.row2 {
  grid-row-start: 2;
  grid-row-end: 2;
}
.row3 {
  grid-row-start: 3;
  grid-row-end: 3;
}
.row4 {
  grid-row-start: 4;
  grid-row-end: 4;
}
.row5 {
  grid-row-start: 5;
  grid-row-end: 5;
}
.row6 {
  grid-row-start: 6;
  grid-row-end: 6;
}
.row7 {
  grid-row-start: 7;
  grid-row-end: 7;
}
.row8 {
  grid-row-start: 8;
  grid-row-end: 8;
}
.row9 {
  grid-row-start: 9;
  grid-row-end: 9;
}
.row10 {
  grid-row-start: 10;
  grid-row-end: 10;
}
.row11 {
  grid-row-start: 11;
  grid-row-end: 11;
}
.row12 {
  grid-row-start: 12;
  grid-row-end: 12;
}
.row13 {
  grid-row-start: 13;
  grid-row-end: 13;
}
.row14 {
  grid-row-start: 14;
  grid-row-end: 14;
}
.row15 {
  grid-row-start: 15;
  grid-row-end: 15;
}

.pointoutput {
  border: 2px solid black;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
