@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --default-width: 700px;
  --default-border: 1px solid #000;
  --default-boxShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --theme-color: #09223b;
  --green-color: #093b22;
  --dice-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  background-color: #efefef;
  position: relative;
  min-height: 100vh;
}

.yatzyGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  justify-content: start;
  align-items: start;
  justify-items: center;
  align-content: stretch;
}

.inner {
  background-color: white;
  margin: auto;
  display: grid;
  grid-column-gap: 20px;
  padding: 30px;
  border-radius: 15px;
}

.yatzyHeaderSize {
  height: 60%;
}

.inner h1,
h4 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin-bottom: 15px;
  background-color: rgba(103, 103, 103, 0.1);
  border-radius: 4px;
}

h6 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}

.yatzyGrid .yatzyHeader {
  margin: auto;
  position: relative;
  background-color: white;
  height: 100%;
  box-shadow: var(--default-boxShadow);
  border-radius: 15px;
}

.yatzyGrid .yatzyHeader .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yatzyGrid .yatzyHeader .top .diceArea {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, calc(var(--default-width) / 8));
  justify-content: center;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.diceSelected {
  opacity: 0.4;
}

.diceShake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.yatzyGrid .yatzyHeader .top .diceArea .dice img {
  /* background-color: var(--theme-color); */
  background-repeat: no-repeat;
  background-position: cover;
  margin: 10px;
  height: var(--dice-size);
  width: var(--dice-size);
  cursor: pointer;
}

.diceNotSelected {
  cursor: pointer !important;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input {
  margin: 5px 10px 10px 10px;
  height: 30px;
  width: var(--dice-size);
  cursor: pointer;
  align-items: center;
  background-color: Var(--theme-color);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.yatzyGrid .yatzyHeader .top .diceArea .dice input:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input:focus {
  background-color: #09223b !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input:focus:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input:hover:after {
  opacity: 0.5;
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input:active {
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .top .diceArea .dice input:disabled {
  cursor: not-allowed;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}
.yatzyGrid .yatzyHeader .top .diceArea .dice input:checked {
  cursor: pointer;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .top .headerBottom {
  display: grid;
  margin-bottom: 15px;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 250px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button {
  align-items: center;
  background-color: var(--theme-color);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  height: 60px;
  width: 60px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  box-shadow: var(--default-boxShadow);
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:focus {
  background-color: var(--theme-color) !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:focus:hover {
  background-color: #16437e !important;
  color: #ffffff;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:hover:after {
  opacity: 0.5;
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:active {
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .top .headerBottom .roll button:disabled {
  cursor: not-allowed;
  background: #09223b !important;
  color: rgb(255, 255, 255, 0.7);
}

.yatzyGrid .yatzyHeader .top .turnInfo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
}

.yatzyGrid .yatzyHeader .top .turnInfo .currentTurn,
.yatzyGrid .yatzyHeader .top .turnInfo .totalTurn {
  display: inline-block;
  margin: auto;
  background-color: var(--theme-color);
  padding: 5px;
  width: 100px;
  border-radius: 40px;
  font-size: 14px;
  box-shadow: var(--default-boxShadow);
  font-weight: 200;
  color: white;
}

.yatzyGrid .yatzyHeader .top .turnInfo .currentTurn .count,
.yatzyGrid .yatzyHeader .top .turnInfo .totalTurn .count {
  display: table;
  font-weight: 500;
  margin: 0 auto;
}

.yatzyGrid .yatzyHeader .top .turnInfo .currentTurn::before,
.yatzyGrid .yatzyHeader .top .turnInfo .totalTurn::before {
  display: flex;
  justify-content: center;
  content: "Turn:";
}

.yatzyGrid .yatzyHeader .top .turnInfo .totalTurn::before {
  content: "Total:";
}

.players {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding-top: 10px;
  width: 100%;
  height: 40%;
  /* border: var(--default-border); */
  border-radius: 0 0 15px 15px;
}

.players .playerInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.players .playerInfo .playerName {
  padding: 10px;
}
.players .scoreTable {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.players .scoreTable .tableArea {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 40px 0;
  table-layout: fixed;
  width: 100%;
}

td {
  padding: 5px 0;
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.players {
  padding: 20px;
}

.yatzyGrid .yatzyBody {
  margin: auto;
  justify-content: center;
  box-shadow: var(--default-boxShadow);
  border-radius: 15px;
}

.gridParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(15, 25px);
  grid-column-gap: 5px;
  grid-row-gap: 15px;
}
.gridParent .gridItem {
  grid-column-start: span 6;
}
.gridParent .gridItem:nth-child(1n) {
  grid-column-start: 1 !important;
  display: flex;
  align-items: center;
}
.gridParent .gridItem:nth-child(2n) {
  grid-column-start: 2 !important;
}
.gridParent .gridItem input {
  box-shadow: inset #abacaf 0 0 0 1px;
  text-align: center;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 50px;
  position: relative;
  border-radius: 3px;
  padding: 5px 12px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  height: auto;
  transition: all 0.2s ease;
  cursor: pointer;
}

.gridParent .gridItem input:hover {
  box-shadow: 0 0 0 0 #fff inset, var(--theme-color) 0 0 0 2px;
}
.gridParent .gridItem input:focus {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, var(--theme-color) 0 0 0 1px;
}

.gridParent .gridItem .selected {
  background-color: #ff9b5a !important;
  color: white;
  border-radius: 12px;
  box-shadow: none !important;
  opacity: 0.9;
}

.gridParent .gridItem :disabled {
  background: #d7d7d7;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, var(--green-color) 0 0 0 1px;
}

.gridParent .gridItem :disabled {
  width: 50px;
  text-align: center;
  cursor: not-allowed;
}
.gridParent .gridItem:nth-child(13) {
  grid-column-start: 3 !important;
  justify-self: start;
}
.gridParent .gridItem:nth-child(13)::before {
  content: "Sum:";
  margin-right: 8px;
}
.gridParent .gridItem:nth-child(14),
.gridParent .gridItem:nth-child(33) {
  grid-column-start: 4 !important;
  justify-self: end;
}
.gridParent .gridItem:nth-child(14):before {
  content: "Bonus:";
  margin-right: 8px;
}
.gridParent .gridItem:nth-child(33):before {
  content: "Total:";
  margin-right: 8px;
}
